.dashboard {
  width: 100%;
  height: 100%;
}

.dashboard-header {
  display: flex;
  width: 100vw;
  background-color: #fff;
  color: #14992f;
}

.dashboard-header-left {
  flex: 1;
}

.dashboard-trigger {
  padding-right: 10px;
}

.dashboard-content {
  width: calc(100vw - 48px);
  background-color: #fff;
  margin: 24px;
  padding: 24px;
}

.dashboard-footer {
  width: 100vw;
}

@media (min-width: 992px) {
  .dashboard-header {
    width: 100%;
  }

  .dashboard-content {
    width: calc(100% - 48px);
  }

  .dashboard-footer {
    width: 100%;
  }
}
