.auth {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

.auth-logo {
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top .3s;
}

.auth-background {
  position: absolute;
  top: 50vh;
  left: -10%;
  width: 120%;
  height: 60vh;
  transform: rotate(-4deg);
  background-color: #14992f;
}

.auth-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, .1);
}

.auth-footer {
  position: absolute;
  bottom: 0;
  color: #fff;
}

@media (min-width: 768px) {
  .auth-logo {
    top: 20vh;
  }

  .auth-card {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .auth-logo {
    top: 25vh;
  }
}

@media (min-width: 1200px) {
  .auth-card {
    width: 400px;
  }
}
